:root {
  --slate: #434455;
  --iris: #4d5ae5;
  --white: #ffffff;
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}

/* INDEX PAGE */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

/* Header */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

/* Navigation Items */

.link {
  text-decoration: none;
}

.header-logo {
  color: var(--navy-blue);
}

.list {
  list-style: none;
}

.list-item > .item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

li > .link:hover,
li > .link:focus {
  color: var(--ocean);
}

/* Address */

.contacts {
  font-style: normal;
}

.contact-item > .contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* First Section */

.first-section {
  background-color: var(--navy-blue);
}

.header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.button {
  background-color: var(--iris);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--ocean);
}

/* Second Section */

.list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Third Section */

.header-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

/* Fourth Section */

.fourth-section {
  background-color: var(--cloud);
}

/* Reused third section header from main */

.list .item {
  background-color: var(--white);
}

/* Reused item header from main  */

/* Footer */

.footer {
  background-color: var(--navy-blue);
}

.footer-logo {
  color: var(--cloud);
}

.footer-text {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
}

/* FORTFOLIO PAGE */

/* Main */

.btn-menu {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}

.btn-menu:hover,
.btn-menu:focus {
  color: var(--white);
  background-color: var(--ocean);
}

/* Reused item header from main  */
