:root {
  --iris: #4d5ae5;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.link {
  text-decoration: none;
}

.logotext {
  color: #2e2f42;
}

.list {
  list-style: none;
}

.nav-item .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-contact .link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.link:hover {
  color: #404bbf;
}

.link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.first-section {
  background-color: #2e2f42;
}

.header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}

.button {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.third-header,
.fourth-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.fourth-section {
  background-color: #f4f4fd;
}

.list .list-item {
  background-color: #fff;
}

.footer {
  background-color: #2e2f42;
}

.logo-footer {
  color: #f4f4fd;
}

.logo-footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.btn-menu {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.btn-menu:hover {
  color: #ffffff;
  background-color: #404bbf;
}

.btn-menu:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.list .list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list .list-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
